gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
lib
Trained_Model.h5
img/.DS_Store
__pycache____pycache__
*.pyc
*.pyd
.venv
venv
.vscode
.idea
*.iml
dist/
build/
data/dataset/fer2013.csv
